p {
  color: rgb(252, 0, 38);
  font-family: arial;
}

h1 { 
  color: rgb(49, 255, 8); 
  font-family: arial;
}  

h3 {
  color: rgb(0,85,255);
  font-family:Arial;
}

h4 {
   color: rgb(250, 103, 5);
   font-family:Arial;
}
