p {
    font-family: arial;
}

h1 { 
    color: rgb(49, 255, 8); 
    font-family: arial;
}  

#blue_arial {
    color: rgb(0, 149, 255);
    font-family:Arial;
}

#text_css {
    color: rgb(250, 103, 5);
    font-family:Arial;
}

#lyrics_css {
    color: rgb(250, 103, 5);
    font-family:Arial;
    font-style: italic;
}
